$colorWhite:white;
$colorOrange:#f9b43b;
$colorBlack:#2f3234;
$colorRed:#e35028;
/*mixins*/

@mixin fontUbuntu {
    text-decoration: none;
    font-family: Ubuntu, Arial, sans-serif;
    color: $colorWhite;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.8rem;
}

@mixin container {
    margin: 0;
    padding: 0;
    min-width: 320px;
    max-width: 940px;
    //width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    position: relative;
    min-height: 650px;

}
@mixin section {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
@mixin visuallyHidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
@mixin btn {
    background-color: $colorRed;
    border: none;
    border-radius: 4px;
    color: $colorWhite;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
        background-color: #c1401e;
    }
}

@mixin fontOrangeGagalin {
    font-family: Gagalin, Arial, sans-serif;
    color: $colorOrange;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 5.3rem;
}

@mixin fontWhiteLifehack {
    font-family: Lifehack, Arial, sans-serif;
    color: $colorWhite;
    font-size: 4rem;
    font-weight: 500;
    line-height: 3.7rem;
}

@mixin backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    @include phone {
        min-height:650px;
    }
    @include tablet {
        min-height: 650px;
    }
}
@mixin bgImageReview {
    background-repeat: no-repeat;
    background-position: center center;
    width: 25%;
    height: 50%;
    z-index: 7;
}
@mixin input {
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 5px 20px;
    box-sizing: border-box;
}
/*mixins close*/

/*media*/
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin beetweenFullandTablet {
    @media screen  and (max-width:850px) {
        @content;
    }
}
@mixin beetweenFullandTablet3 {
  @media screen  and (max-width:725px) {
      @content;
  }
}
@mixin beetweenFullandTablet2 {
    @media screen  and (max-width:570px) {
        @content;
    }
}

@mixin phone {
    @media screen  and (max-width:480px) {
        @content;
    }
}
@mixin beetweenphoneandMin3 {
  @media screen and  (max-width:472px) {
      @content;
  }
}

@mixin beetweenphoneandMin {
    @media screen and  (max-width:416px) {
        @content;
    }
}
@mixin beetweenphoneandMin2 {
    @media screen and  (max-width:331px) {
        @content;
    }
}
/*media close*/
