.team{
    @include backgroundImage;
    @include section;
    background-color: #111114;
    background-image: url(../img/bg4.jpg);

    position: relative;

}
.team__wrap{
    min-height: 650px;
}
.team__right{
position: absolute;
top: 0;
right: 0;
background-color: rgba(7,50,52,0.9);
width: 50%;
min-height: 100%;
@include phone {
   width: 100%;
}
@include tablet {
    width: 100%;
}
@include beetweenphoneandMin {
  padding-top: 35%;
}
}
.team__title{
    @include fontOrangeGagalin;
    line-height: 4rem;
    margin-left: -16%;
    margin-bottom: 8%;

     @include tablet {
        margin-left: 0;
        margin-bottom: 5.5%;
     }
     @include phone {
        margin-left: 0;
        margin-bottom: 2.5%;
        font-size: 3.57rem;
        line-height: 4.28rem;
     }
}
.team__list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 19%;
    @include phone {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     @include tablet {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}

.team__block--close {
    //height: 105px;
   // overflow: visible;
   // margin-bottom: 6%;
   height: 0;
    overflow: hidden;
    margin-bottom:0;
    margin-left: 1%;
    margin-top: 2%;
    display: flex;

     @include tablet {
         display: flex;
        flex-direction: column;
        align-items: center;
       // margin-bottom: 28%;
     }
     @include phone {
        flex-direction: column;
        align-items: center;
       // margin-bottom: 26%;
     }
}
.team__member.team__member--active + .team__block--open{
    height: 105px;
    overflow: visible;
   margin-bottom: 6%;
   //transition: height .5s ease-out, margin-bottom .5s ease-out;

   @include tablet {

  margin-bottom: 28%;
}
@include phone {

   margin-bottom: 26%;
}
}


.team__member{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    @include fontOrangeGagalin ;
    font-size: 0.8rem;
    line-height: 1.75rem;
    color: $colorWhite;
    position: relative;

&::before{
    content: "";
    cursor: pointer;
    position: absolute;
    left: -12px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 8px solid #f9b43b;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;

}
@include phone {
    font-size: 1.5rem;
    line-height: 1.8rem;
 }
 @include tablet {
   font-size: 1.5rem;
   line-height: 1.8rem;
 }
}

.team__member.team__member--active::before {

    transform: rotate(180deg);
    transition: transform .5s ease-out;


}
.team__member--yellow{
color: #f9b43b;
}
.team__block{
    transition: height .5s ease-out, margin-bottom .5s ease-out;
}

.team__block--image{
    border-radius: 50%;
    width: 6.37rem;
    height: 6.37rem;
}
.team__block--title{
    @include fontUbuntu ;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight:600;
    @include phone {
        margin-bottom: -1%;
     }
     @include tablet {
        margin-bottom: -1%;
     }
}
.team__block--text{
    @include fontUbuntu ;
    font-size: 0.8rem;
    line-height: 1.5rem;

}
.team__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    padding-right: 17%;
    @include phone {
        padding-right: 0;
     }
     @include tablet {
        padding-right: 0;
     }
}
.team__item {
    margin-bottom: 4.5%;

     @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     @include phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9%;
     }
}
.team__block--content {
    margin-left: 4%;
    margin-top: -4%;
    min-width: 43%;

     @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        width: 75%;
        text-align: center;
        margin-top: 1%;
     }
     @include phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 75%;
        text-align: center;
        margin-top: 3%;
     }
}
.team__block--image-wrap{
    @include phone {
        margin-top: 3%;
     }
}
