.video{
    @include backgroundImage;
    background-color: #efedeb;
    background-image: url(../img/bg7.jpg);
    min-height: 100vh;
}
.video__title{
    margin: 0;
    @include fontOrangeGagalin;
    color: $colorBlack;
    text-align: center;
}