.video{
    @include backgroundImage;
    background-color: #efedeb;
    background-image: url(../img/bg7.jpg);
    min-height: 100vh;
}
.video__title{
    margin: 0;
    @include fontOrangeGagalin;
    color: $colorBlack;
    text-align: center;
}
.player{
  position: relative;
  width: 660px;
  height: 405px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include tablet{
      width: 720px;
      height: 455px;
    }
    @include phone{
      width: 460px;
      height: 285px;
    }
}
.player__controls {
  position: absolute;
  width: 660px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: #3e3e3e;
  @include tablet{
    width: 720px;
  }
  @include phone{
    width: 460px;
  }
}
.player__start{
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  background-image: url(../img/play.svg);
  width: 26px;
    height: 26px;
position: absolute;
top: 12%;
    left: 1%;
}
.player__playback {
  position: absolute;
  height: 4px;
  width: 446px;
  background: #626262;
  top: 15px;
  left: 50px;
  cursor: pointer;
}

.player__playback-button {
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  left: 0;
  cursor: pointer;
}
